body{
    background-image: url("4.jpg");
    background-size: cover;
    color: indigo;
}
#img{
    background-image: url("5.jpg");
    background-size: cover;
    width: 300px;
    height: 300px;
}